<div class="flex h-full w-full flex-col items-center justify-center">
    <div class="w-full max-w-3xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <img class="w-21" src="images/logo/logo.svg" alt="Logo image" />
            <h1>Bình chọn giải thưởng Bạch Mai Awards 2024</h1>
            <p>
                Giải thưởng Bạch Mai được xây dựng để tôn vinh những y bác sĩ, điều dưỡng
                và nhân viên y tế của Bệnh viện Bạch Mai đã không ngừng cống hiến, tận
                tâm chăm sóc sức khỏe cộng đồng.
            </p>
            <p>
                Chúng tôi kêu gọi quý vị, những người từng được chăm sóc tận tình, hãy dành
                chút thời gian tham gia bình chọn để cùng lan tỏa những câu chuyện đẹp về
                y đức và tài năng của nhân viện y tế.
            </p>
            <p>
                Hãy để những phiếu bầu của các bạn là món quà động viên quý giá, tiếp thêm
                động lực cho các nhân viên y tế trong hành trình chăm sóc sức khỏe cộng đồng                
            </p>
            <p>
                <b>Xin chân thành cám ơn !</b>
            </p>
        </div>
        <div class="text-secondary mt-8 text-center text-md font-medium">
            <span>Thực hiện bình chọn: </span>
            <a
                class="ml-1 text-primary-500 hover:underline"
                [routerLink]="['/sign-in']"
                >Đăng nhập hệ thống
            </a>
        </div>
    </div>
</div>
