<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="h-400 max-h-400 min-h-400 rounded-2xl border-2 border-dashed border-gray-300">
            <H1>Giải thưởng do cán bộ, nhân viên bình chọn bao gồm</H1>
            <p>
                Nhân vật truyền cảm hứng của năm <br>
                Lãnh đạo đơn vị của năm <br>
                Đơn vị của năm <br>
                Chương trình /hoạt động của năm <br>
                Đề án/sáng kiến cải tiến chất lượng của năm <br>
                Ứng dụng công nghệ thông tin trong hoạt động KCB <br>
                Công trình NCKH của năm <br>
                Cống hiến của năm <br>
                Các ca lâm sàng ấn tượng <br>
            </p>
        </div>
    </div>
</div>

